<?xml version="1.0" encoding="utf-8"?>
<FDL version="2.0">
<Form id="{{ form_id }}" width="900" height="600" titletext="{{ title }}">
  <Layout>
    <Static id="ttl_search" left="10" top="6" width="120" height="20" text="검색조건" cssclass="sta_WF_Title"/>
    {{ search_fields | indent(4) }}
    <Button id="btn_search" left="780" top="20" width="80" height="24" text="조회" onclick="fn_search"/>

    <Grid id="grd_main" left="10" top="70" width="880" height="480"
          binddataset="ds{{ entity_pascal }}" autofittype="col" readonly="true">
{{ grid_format | indent(6) }}
    </Grid>

    <Button id="btn_select" left="800" top="560" width="80" height="28" text="선택" onclick="fn_select"/>
  </Layout>

  <Objects>
{{ datasets | indent(4) }}
  </Objects>

  <Script type="xscript5.1"><![CDATA[
this.fn_search = function() {
  this.transaction("select",
    "Svc{{ service_pascal }}::{{ select_path }}",
    "dsSearch=dsSearch",
    "output1=ds{{ entity_pascal }}",
    "", "fn_callback");
};

this.fn_select = function() {
  var r = this.ds{{ entity_pascal }}.rowposition;
  if (r < 0) { alert("행을 선택하세요."); return; }
  this.close(this.ds{{ entity_pascal }}.getRowAsString(r));
};

this.fn_callback = function(svcId, errCd, errMsg) {
  if (errCd < 0) alert(errMsg);
};
  ]]></Script>
</Form>
</FDL>
