<?xml version="1.0" encoding="utf-8"?>
<FDL version="2.0">
  <Form id="frameTop" classname="frameTop" left="0" top="0" width="1280" height="60" titletext="Header">
    <Layouts>
      <Layout>
        <Static id="staLogo" taborder="0" left="16" top="14" width="200" height="32" text="{{ brand_text | default('Business App') }}" cssclass="sta_top_logo"/>
        <Static id="staUser" taborder="1" right="120" top="20" width="160" height="20" text="" cssclass="sta_top_user"/>
        <Button id="btnLogout" taborder="2" right="16" top="16" width="96" height="28" text="로그아웃"/>
      </Layout>
    </Layouts>
    <Script type="xscript5.1"><![CDATA[
this.form_onload = function(obj, e) {
  var app = nexacro.getApplication();
  var name = app.gv_userName || "";
  this.staUser.set_text(name);
};

this.btnLogout_onclick = function(obj, e) {
  var app = nexacro.getApplication();
  app.gv_isLoggedIn = false;
  app.gv_userName = "";
  app.mainframe.openLoginFrame();
};
]]></Script>
  </Form>
</FDL>
