<?xml version="1.0" encoding="utf-8"?>
<FDL version="2.0">
<Form id="{{ form_id }}" width="600" height="500" titletext="{{ title }}">
  <Layout>
    <Static id="ttl_form" left="10" top="6" width="200" height="20" text="{{ title }}" cssclass="sta_WF_Title"/>
    {{ search_fields | indent(4) }}

    <Button id="btn_save" left="500" top="450" width="80" height="28" text="저장" onclick="fn_save"/>
  </Layout>

  <Objects>
{{ datasets | indent(4) }}
  </Objects>

  <Script type="xscript5.1"><![CDATA[
this.fn_save = function() {
  if (this.ds{{ entity_pascal }}.getRowCountNF() === 0) {
    this.ds{{ entity_pascal }}.addRow();
  }
  this.transaction("save",
    "Svc{{ service_pascal }}::{{ save_path }}",
    "",
    "",
    "dataList=ds{{ entity_pascal }}:U",
    "fn_callback");
};

this.fn_callback = function(svcId, errCd, errMsg) {
  if (errCd < 0) { alert(errMsg); return; }
  alert("저장되었습니다.");
};
  ]]></Script>
</Form>
</FDL>
