{# templates/typedefinition_patch.xml.j2 #}
<Services>
{%- for ent in entities %}
  <Service id="Svc{{ ent.pascal }}" url="{{ context_path }}{{ ent.endpoint_base }}" type="default" version="1.0"/>
{%- endfor %}
</Services>
